.day-item,
label {
  padding: 0 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
input[type="radio"] {
  width: 1rem;
  height: 1rem;
}
.container-weekday {
  margin-top: 1rem;
}
.container-weekday,
.day-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}
label:hover {
  color: blue;
}
.active {
  color: blue;
}
.agency-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ol-checked label {
  width: 11rem;
  text-align: justify;
}
.container-agency {
  margin-top: 1rem;
  min-height: 5rem;
}
ol.ol-checked {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 100%;
}
.container-agency .ol-checked label {
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
}
.show-replace-2d {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.show-replace-2d input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
@media only screen and (max-width: 480px) {
  .container-weekday {
    margin-top: 2rem;
    padding: 0 0.25rem;
  }
  .day-item {
    padding: 0.25rem 0.25rem;
  }
  .day-item label {
    padding: 0;
  }
  ol.ol-checked {
    padding: 0.25rem 0;
  }
}
