.App {
  height: 100vh;
  text-align: center;
  background-image: url("./img/white-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  border: 1px solid #000;
  border-radius: 3px;
}

button:hover {
  transform: translateY(1px);
}
